body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13pt;
}

body {
  background-color: #e3e3e3;
  font-family: "Century Gothic";
}

img {
  max-width: 100%;
}

p {
  padding: 10px;
  text-align: left;
  border-left: 3px solid #2d3c49;
  background-color: rgba(0,0,0,0.2);
}
.breakpoint {
  width: 100%;
  border: 2px solid #2d3c49;
}

a:visited {
  color: blue;
}

@keyframes fadein {
  from { opacity: 0; margin-top: 200px;}
  to   { opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; margin-top: 200px;}
  to   { opacity: 1;}
}

#menu {
  width: 100%;
  right: -400px;
  display: none;
  position: absolute;
  transition: 1s ease;
  padding-left: 15px;
  background: #e3e3e3;
  margin: 0;
  z-index: 999;
}

#menu a {
  text-decoration: none;
}

.nav_option {
  color: black;
  display: block;
  margin-top: 5px;
  margin-bottom: 2px;
  padding: 5px;
  border-left: 3px solid #2d3c49;
  transition: background 1s ease;
}

.nav_option:hover {
  background: #2d3c49;
  color: white;
}

/*
*
Header
*
*/

header {
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #e3e3e3;
  z-index: 999;
}

.header_title {
  text-align: right;
  margin: 5px;
  color: black;
}

#header_logo {
  max-height: 50px;
  float: left;
}

#hamburger {
  position: absolute;
  font-size: 20pt;
  margin: 15px;
  z-index: 999;
  cursor: pointer;
}

#crosshair {
  font-size: 20pt;
  z-index: 999;
  font-weight: bold;
  padding-left: 85%;
  cursor: pointer;
}

/*
*
main content
*
*/

main {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../img/black_w.jpg");
  /*   Photo by rawpixel on Unsplash */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.projectDiv {
  height: 10%;
  padding: 25px;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: 1s ease;
  box-sizing: content-box;
}

.projectDiv h3,
.projectDiv p {
  font-weight: bold;
  opacity: 0;
  -webkit-transition: 1s ease; /* Safari */
  transition: 1s ease;
  margin-top: 50px;
}

.projectDiv p {
  border-right: 3px solid #2d3c49;
}

#intro {
  order: 1;
  margin-top: 20%;
  padding: 20px;
  width: 100%;
  z-index: 1;
}

#profile_pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 7px double black;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.8);
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
}

#intro_greeting {
  color: black;
  font-size: 25pt;
  /* -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */ */
  /* -moz-animation: fadein 4s; /* Firefox < 16 */ */
}

#intro p {
  background: inherit;
}

#showcase_animal_trading {
  order: 2;
  background-image: url("../img/cards.jpg");
  max-width: 100%;
}

#showcase_animal_trading:hover {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/cards.jpg");
}

#showcase_animal_trading:hover h3,
#showcase_animal_trading:hover p {
  opacity: 1;
}

#showcase_pixel_art {
  order: 3;
  background-image: url("../img/pixel_art.jpg");
}

#showcase_pixel_art:hover {
    background-image: linear-gradient(rgba(255,222,173,0.8), rgba(255,222,173,0.8)), url("../img/pixel_art.jpg");
}

#showcase_pixel_art:hover h3,
#showcase_pixel_art:hover p {
  opacity: 1;
}

#showcase_memory_game {
  order: 4;
  background-image: url("../img/brain.jpg");
}

#showcase_memory_game:hover {
    background-image: linear-gradient(rgba(56, 163, 216,0.8), rgba(56, 163, 216,0.8)), url("../img/brain.jpg");
}

#showcase_memory_game:hover h3,
#showcase_memory_game:hover p {
  opacity: 1;
}

#showcase_classic_game {
  order: 5;
  background-image: url("../img/arcade.jpg");
}

#showcase_classic_game:hover {
    background-image: linear-gradient(rgba(255, 163, 216,0.8), rgba(255, 200, 216,0.8)), url("../img/arcade.jpg");
}

#showcase_classic_game:hover h3,
#showcase_classic_game:hover p {
  opacity: 1;
}

#showcase_foundations {
  order: 6;
  background-image: url("../img/foundations.jpg");
}

#showcase_foundations:hover {
  background-image: linear-gradient(rgba(50,50,50,0.8), rgba(261,248,172,0.8)), url("../img/foundations.jpg");
}

#showcase_foundations:hover h3,
#showcase_foundations:hover p {
  opacity: 1;
}

#showcase_review_app {
  order: 7;
  background-image: url("../img/restaurantReview.jpg");
}

#showcase_review_app:hover {
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/restaurantReview.jpg");
}

#showcase_review_app:hover h3,
#showcase_review_app:hover p {
  opacity: 1;
}

/*
*
Footer
*
*/

footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 9pt;
  padding: 20px;
  text-align: center;
}

footer div {
  border-left: 3px solid #2d3c49;
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  width: 50%;
  margin: auto;

}

.footer_label {
  margin-left: 10px;
  font-weight: bold;
}

footer a {
  vertical-align: super;
}

@media screen and (max-width: 992px) {
  footer div {
    width: 90%;
  }
}

/*
*
Media Queries
*
*/

/* Larger Phone font increase */

@media screen and (min-width: 350px) {
  body{
    font-size: 15pt;
  }
  footer{
    font-size: 11pt;
  }
}

/* Phone device to ipad */

@media screen and (min-width: 426px) {
  body{
    font-size: 20pt;
  }

  p {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }

  #menu {
    right: -800px;
  }

  .breakpoint {
    margin-top: 25px;
  }

  #header_logo {
    max-height: 75px;
  }

  .header_title {
    margin: 10px;
  }

  #intro {
    padding: 40px;
  }


  #intro p {
    margin-top: 125px;
    background: inherit;
  }

  #intro_greeting {
    font-size: 35pt;
    display: inline;
    margin-left: 50px;
    vertical-align: -50px;
  }

  @keyframes fadein {
    from { opacity: 0; margin-top: 300px;}
    to   { opacity: 1;}
  }

  /* Firefox < 16 */

  @-moz-keyframes fadein {
    from { opacity: 0; margin-top: 300px;}
    to   { opacity: 1;}
  }

  .projectDiv {
    width: 50%;
    font-weight: bolder;
    padding-top: 100px;
    padding: 0;
  }

  .projectDiv p {
    max-width: 250px;
    font-size: 16pt;
  }

  footer {
    font-size: 13pt;
  }

  footer {
    margin-top: 15px;
    height: 50px;
  }
}

@media screen and (min-width: 1024px) {

  p {
    max-width: 800px;
  }

  .breakpoint {
    margin-top: 5px;
  }

  header {
    max-width: 80%;
    margin-left: 10%;
  }

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #menu {
    width: 100%;
    right: 0;
    display: block;
    position: relative;
    padding-left: 15px;
    background: #e3e3e3;
    margin: 0;
  }

  #menu li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16pt;
    border: hidden;
  }

  #crosshair {
    display: none;
  }

  #hamburger {
    display: none;
  }

  #intro_greeting {
    font-size: 50pt;
  }

  #intro p {
    margin-top: 150px;
    background: inherit;
  }

  .projectDiv {
    padding-top: 150px;
    height: 350px;
  }

  .projectDiv p {
    max-width: 400px;
  }

  footer {
    margin-left: auto;
    margin-right: auto;
  }

  footer img {
    margin-top: 15px;
    height: 30px;
  }
}
