#sideNav {
  top: 40%;
  width: 120px;
  padding: 0px;
  background-color: rgba(53, 58, 64, 1);
  display: none;
}

#sideNav .nav-link {
  width: 100%;
  color: white;
}

#sideNav .nav-link:hover {
  background: black;
  color: white;
}

@media screen and (min-width: 768px) {
  #sideNav {
    display: block;
  }
}