#topNav .nav-link {
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 5%;
}

#topNav .nav-link:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 768px) {
  #topNav {
    display: none;
  }
}
