#AboutContainer {
  animation: fadeIn;
  animation-duration: 2s;
  height: 50vh;
  width: 100%;
  color: white;
  font-weight: bolder;
  top: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media screen and (min-width: 456px) {
  #AboutContainer {
    width: 100%;
    top: 30%;
  }
}

@media screen and (min-width: 768px) {
  #AboutContainer {
    width: 75%;
  }
}