.nav-container {
  top: 40%;
  width: 120px;
  padding: 0px;
  background-color: rgba(53, 58, 64, 1);
}

.nav-link {
  width: 100%;
  color: white;
}

.nav-link:hover {
  background: black;
  color: white;
}